{{/* Enhanced announcement bar */}}
{{ $ann := site.Params.announcement }}
{{ if $ann.enable }}
<div class="announcement-bar bg-gray-50 dark:bg-gray-800 text-gray-700 dark:text-gray-300 border-b border-gray-200 dark:border-gray-600">
  <div class="container-fluid px-2 sm:px-6">
    <div class="flex items-center justify-between py-2 text-sm">
      
      <!-- Left: Contact Info -->
      <div class="flex items-center space-x-4">
        <a href="tel:{{ $ann.phone }}" class="flex items-center space-x-1 hover:text-primary-600 dark:hover:text-primary-400 transition-colors">
          <svg class="w-4 h-4 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
            <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"/>
          </svg>
          <span class="hidden sm:inline">{{ $ann.phone }}</span>
        </a>
        
        <a href="mailto:{{ $ann.email }}" class="flex items-center space-x-1 hover:text-primary-600 dark:hover:text-primary-400 transition-colors">
          <svg class="w-4 h-4 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
          </svg>
          <span class="hidden sm:inline">{{ $ann.email }}</span>
        </a>
      </div>

      <!-- Center: Main Message -->
      <div class="hidden md:block text-center">
        <a href="{{ $ann.url }}" class="hover:underline">
          {{ $ann.text | safeHTML }}
        </a>
      </div>

      <!-- Right: Hours & Location -->
      <div class="flex items-center space-x-4">
        {{/* Calculate tomorrow's date dynamically */}}
        {{ $tomorrow := now.AddDate 0 0 1 }}
        
        {{/* Parse business hours to get start time and duration */}}
        {{ $hours := $ann.hours | default "mon-fri 9am-6pm" }}
        {{ $start_hour := 9 }}
        {{ $end_hour := 18 }}
        
        {{/* Extract start hour from hours string */}}
        {{ if findRE "\\d+am" $hours }}
          {{ $start_matches := findRE "\\d+am" $hours }}
          {{ if gt (len $start_matches) 0 }}
            {{ $start_hour = int (replaceRE "am" "" (index $start_matches 0)) }}
          {{ end }}
        {{ end }}
        
        {{/* Extract end hour from hours string */}}
        {{ if findRE "\\d+pm" $hours }}
          {{ $end_matches := findRE "\\d+pm" $hours }}
          {{ if gt (len $end_matches) 0 }}
            {{ $end_hour_12 := int (replaceRE "pm" "" (index $end_matches 0)) }}
            {{ if ne $end_hour_12 12 }}
              {{ $end_hour = add $end_hour_12 12 }}
            {{ else }}
              {{ $end_hour = 12 }}
            {{ end }}
          {{ end }}
        {{ end }}
        
        {{/* Calculate duration in hours */}}
        {{ $duration := sub $end_hour $start_hour }}
        
        {{/* Use opening hour as meeting start time (user can choose within opening hours) */}}
        {{ $meeting_start_hour := $ann.preferred_meeting_hour | default $start_hour }}
        {{ $meeting_end_hour := add $meeting_start_hour $duration }}
        
        {{/* Format meeting time for display */}}
        {{ $meeting_time_display := "9:00 a.m." }}
        {{ if eq $meeting_start_hour 9 }}{{ $meeting_time_display = "9:00 a.m." }}{{ end }}
        {{ if eq $meeting_start_hour 10 }}{{ $meeting_time_display = "10:00 a.m." }}{{ end }}
        {{ if eq $meeting_start_hour 11 }}{{ $meeting_time_display = "11:00 a.m." }}{{ end }}
        {{ if eq $meeting_start_hour 12 }}{{ $meeting_time_display = "12:00 p.m." }}{{ end }}
        {{ if eq $meeting_start_hour 13 }}{{ $meeting_time_display = "1:00 p.m." }}{{ end }}
        {{ if eq $meeting_start_hour 14 }}{{ $meeting_time_display = "2:00 p.m." }}{{ end }}
        {{ if eq $meeting_start_hour 15 }}{{ $meeting_time_display = "3:00 p.m." }}{{ end }}
        {{ if eq $meeting_start_hour 16 }}{{ $meeting_time_display = "4:00 p.m." }}{{ end }}
        
        {{ $meeting_start := printf "%sT%02d0000" ($tomorrow.Format "20060102") $meeting_start_hour }}
        {{ $meeting_end := printf "%sT%02d0000" ($tomorrow.Format "20060102") $meeting_end_hour }}
        
        {{ $calendar_description := printf "See you tomorrow or soon in our opening hours. Will meet at %s at direction: %s. Phone: %s, Email: %s. Our business hours: %s." $meeting_time_display $ann.address $ann.phone $ann.email $ann.hours }}
        {{ $ics_content := printf "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//%s//EN\nBEGIN:VEVENT\nSUMMARY:%s\nDTSTART:%s\nDTEND:%s\nDESCRIPTION:%s\nLOCATION:%s\nEND:VEVENT\nEND:VCALENDAR" (site.Title | default "Meeting") ($ann.meeting_title | default "Business Meeting") $meeting_start $meeting_end $calendar_description $ann.address }}
        
        <a href="data:text/calendar;charset=utf8,{{ $ics_content | urlquery }}" 
           download="meeting-{{ $tomorrow.Format "2006-01-02" }}.ics"
           class="flex items-center space-x-1 hover:text-primary-600 dark:hover:text-primary-400 transition-colors"
           title="Add meeting to calendar (starts at {{ $meeting_time_display }})">
          <svg class="w-4 h-4 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"/>
          </svg>
          <span class="hidden sm:inline">{{ $ann.hours }}</span>
        </a>
        
        <a href="geo:{{ $ann.latitude | default "0" }},{{ $ann.longitude | default "0" }}?q={{ $ann.address | urlquery }}" 
           class="flex items-center space-x-1 hover:text-primary-600 dark:hover:text-primary-400 transition-colors">
          <svg class="w-4 h-4 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
          </svg>
          <span class="hidden lg:inline">{{ $ann.address }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}

<header id="site-header" class="header">
  <nav class="navbar px-3 flex justify-start">
    <div class="order-0 h-full">
      <!-- Brand -->
      <a class="navbar-brand" href="{{ site.Home.RelPermalink }}" title="{{ site.Title }}">
        {{- $logo_filename := site.Params.header.navbar.logo.filename -}}
        {{ with $logo_filename }}
          {{- $logo:= resources.Get (path.Join "media" $logo_filename) -}}
          {{ with $logo }}
            {{ $logoExt := path.Ext . }}
            {{ if eq $logoExt `.svg` }}
              {{- $logo.Content | safeHTML -}}
            {{else}}
              {{ $logo_img := ($logo.Process "Resize x36 webp") }}
              <img
                fetchpriority="high"
                decoding="async"
                class=""
                width="{{ $logo_img.Width }}"
                height="{{ $logo_img.Height }}"
                src="{{ $logo_img.RelPermalink }}"
                alt="{{ site.Title }}" />
            {{end}}
          {{ else }}
            {{ warnf "Logo `%s` not found in `assets/media/` folder" $logo_filename }}
          {{end}}
        {{ end }}
        {{ with site.Params.header.navbar.logo.text }}{{.}}{{end}}
      </a>
    </div>
    <!-- Mobile menu -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      for="nav-toggle"
      class="order-3 cursor-pointer flex items-center lg:hidden text-dark dark:text-white lg:order-1">
      <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
        <title>Open Menu</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
        <title>Close Menu</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>
    <!-- /Mobile menu -->

    <!-- Main menu -->
    {{ $align_menu := site.Params.header.navbar.align | default "center" }}
    <ul
      id="nav-menu"
      class="navbar-nav order-3 hidden lg:flex w-full pb-6 lg:order-1 lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-8 justify-start
      {{ if in (slice "l" "left") $align_menu }}mr-auto ml-6{{ else if (in (slice "r" "right") $align_menu) }}ml-auto mr-6{{end}}">
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
      {{ $menuURL := .URL | absLangURL }}
      {{ $pageURL:= $currentPage.Permalink | absLangURL }}
      {{ $active := eq $menuURL $pageURL }}
      {{ if .HasChildren }}
      <li class="nav-item nav-dropdown group relative">
            <span
              role="button"
              tabindex="0"
              aria-haspopup="true"
              aria-expanded="false"
              class="nav-link cursor-pointer select-none {{ range .Children }}
                {{ $childURL := .URL | absLangURL }}
                {{ $active := eq $childURL $pageURL }}
                {{ if $active }}active{{ end }}
              {{ end }} inline-flex items-center">
              {{ .Name }}
              <svg class="h-4 w-4 fill-current inline-block" viewBox="0 0 20 20">
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </span>
        <ul
          class="nav-dropdown-list lg:group-hover:visible lg:group-hover:opacity-100">
          {{ range .Children }}
          {{ $childURL := .URL | absLangURL }}
          {{ $active := eq $childURL $pageURL }}
          {{ $url := "" }}
          {{- if findRE `^#` .URL -}}
            {{- if not $.IsHome -}}
              {{- $url = site.Home.RelPermalink -}}
            {{- end }}
            {{- $url = .URL -}}
          {{- else -}}
            {{- $url = .URL | relLangURL -}}
          {{- end -}}
          <li class="nav-dropdown-item">
            <a
              class="nav-dropdown-link {{ if $active }}active{{- end -}}"
              {{ if findRE `^http` .URL }}
              target="_blank" rel="noopener"
              {{ end }}
              href="{{$url}}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </li>
      {{ else }}
      {{ $url := "" }}
      {{- if findRE `^#` .URL -}}
        {{- if not $.IsHome -}}
          {{- $url = site.Home.RelPermalink -}}
        {{- end }}
        {{- $url = .URL -}}
        {{- else -}}
        {{- $url = .URL | relLangURL -}}
      {{- end -}}
      <li class="nav-item">
        <a
          class="nav-link {{ if $active }}active{{- end -}}"
          {{ if findRE `^http` .URL }}
          target="_blank" rel="noopener"
          {{ end }}
          href="{{$url}}"
        >{{ .Name }}</a
        >
      </li>
      {{ end }}
      {{ end }}
      {{ if site.Params.header.navbar.button.enable }}
      <li class="mt-4 inline-block lg:hidden">
        <a
          class=""
          href="{{ site.Params.header.navbar.button.url | relLangURL }}">
          {{ site.Params.header.navbar.button.text }}
        </a>
      </li>
      {{ end }}
    </ul>

    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">

      {{/* Show site search? */}}
      {{ $show_search := site.Params.header.navbar.show_search | default false }}
      {{ with $show_search }}
      <button
        aria-label="toggle search"
        class="text-black hover:text-primary  inline-block px-3 text-xl dark:text-white"
        data-search-toggle>
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" fill="currentColor"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
      </button>
      {{ end }}

      {{ $show_theme_chooser := site.Params.header.navbar.show_theme_chooser | default true }}
      {{ if $show_theme_chooser }}
      <div class="px-3 text-black hover:text-primary-700 dark:text-white dark:hover:text-primary-300
            [&.active]:font-bold [&.active]:text-black/90 dark:[&.active]:text-white">
        <button class="theme-toggle mt-1" accesskey="t" title="appearance">
          <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="block dark:hidden">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
          <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="hidden dark:block">
            <circle cx="12" cy="12" r="5"></circle>
            <line x1="12" y1="1" x2="12" y2="3"></line>
            <line x1="12" y1="21" x2="12" y2="23"></line>
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
            <line x1="1" y1="12" x2="3" y2="12"></line>
            <line x1="21" y1="12" x2="23" y2="12"></line>
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
          </svg>
        </button>
      </div>
      {{ end }}

      {{ $show_translations := site.Params.header.navbar.show_translations | default true }}
      {{ if .IsTranslated | and $show_translations }}
      <div class="pl-1 mr-5 text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200
            [&.active]:font-bold [&.active]:text-black/90 dark:[&.active]:text-white">
        {{- partial "components/language-chooser.html" (dict "page" .) -}}
      </div>
      {{ end }}

      <!-- CTA button -->
      {{ if site.Params.header.navbar.button.enable }}
      <a
        href="{{ site.Params.header.navbar.button.url | relLangURL }}"
        class="inline-block rounded border px-5 py-2 font-semibold transition
        md:ml-4 px-4 py-1.5 text-sm
        border-black  hover:bg-black dark:hover:bg-white dark:hover:text-black hover:text-white dark:border-white dark:text-white dark:hover:bg-white
        hidden lg:inline-block">
        {{ site.Params.header.navbar.button.text }}
      </a>
      {{ end }}
    </div>
  </nav>
</header>

{{ if $show_search }}
  {{- partial "components/search-modal.html" . -}}
{{ end }}